@using System.Security.Claims

@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("Login","Login")</p>
<p>@Html.ActionLink("Register","Register")</p>

@using (Html.BeginForm("Logout", "Account"))
{
  <input type="submit" value="Logout" class="btn btn-secondary">
}
