@{
  Layout = "_Layout";
}

@model PierresSweetAndSavouryTreats.Models.Flavor

@using (Html.BeginForm())
{
  <div class="input-group">
    @Html.LabelFor(x=>x.Name)
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
  </div>

  <input type="submit" value="Submit" class="btn btn-default">
}