@model PierresSweetAndSavouryTreats.Models.Flavor

@{
  Layout = "_Layout";
}


@using (Html.BeginForm())
{
  @Html.HiddenFor(x=>x.Id)
  <div class="input-group">
    @Html.LabelFor(x=>x.Name)
    @Html.TextBoxFor(x => x.Name,new {@class="form-control"})
  </div>
  <input type="submit" value="Edit" class="btn btn-default">
}