.input-group{
  width: 200px;
}

input[type=submit]{
  margin-top: 3px;
  margin-bottom: 8px;
}

div.shift{
  padding-left: 4px;
}

.inline{
  display: inline;
}

div.inline-block{
  display: inline-block;
  width: 100px;
}

.outline{
  background-color: white !important;
  color: black;
}


.outline:hover{
  background-color: white !important;
  color: black;
}